[submodule "editor/codemirror"]
	path = editor/codemirror
	url = https://code.haverbeke.berlin/codemirror/dev.git
[submodule "editor/vscode"]
	path = editor/vscode
	url = https://github.com/microsoft/vscode.git
